<section class="museum">
    <div class="museum-top">
        <img src="./assets/images/Museum-1.jpg" alt="" class="museum-img">                   
        <a class="navigation"href="stands">
            <!-- название -->
        </a>
    </div>
    <div class="museum-bottom">
        <div class="first">
            <a href="stands" class="museum-desc  navigation">
                <!-- описание -->
            </a>
            <a class="museum-adress" href="">
                <!-- адресс -->
            </a>
        </div>
        <div class="second">
            <a href="stands" class="museum-button navigation"></a>
        </div>
    </div>
</section>